@font-face {
     font-family: 'TIMSans-regular';
     src: url('../font/TIMSans-Regular.otf') format('opentype');
}

@font-face {
     font-family: 'TIMSans-bold';
     src: url('../font/TIMSans-Bold.otf') format('opentype');
}

@font-face {
     font-family: 'TIMSans-light';
     src: url('../font/TIMSans-Light.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'TIMSans-regular';
    text-decoration: none;
}

header {
    background: #002198;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info {
    padding: 0 20px;
}

// .carrossel {
//     position: relative;

//     img {
//         width: 100%;
//     }

//     .container-links {
//         position: absolute;
//         bottom: 20px;
//     }

//     .item-1 {
//         margin-bottom: 20px;
//     }
// }

.container-links {
    padding: 20px;
}

.btn {
    padding: 15px 12px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 12px;

    &.primary-white {
        background: #fff;
        color: #0026D9; 
    }

    &.primary-blue {
        background: #0026D9; 
        color: #ffffff;
    }
}


.m30 {
    background: #F0F1F2;
    text-align: center;
    padding: 40px;

    span {
        display: block;
        margin-bottom: 15px;
    }

    h2 {
        margin-bottom: 25px;
    }

    p {
        color: #696969;
        font-family: 'TIMSans-light';
        margin-bottom: 20px;
        font-size: 14px;
    }

    a {
        display: inline-block;
        margin-bottom: 40px;
        font-size: 14px;
        font-family: 'TIMSans-light';
    }

    img {
        width: 100%;
    }
}

span, h2 {
    font-family: 'TIMSans-light';
    font-size: 14px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.autoatendimento {
    background: #002198;
    margin: 0;
    text-align: center;
    padding: 40px;
    color: #fff;

    span {
        margin-bottom: 20px;
        display: block;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 40px;
    }

    li {
        display: flex;
        background: #ffffff;
        padding: 20px;
        border-radius: 16px;
        margin-bottom: 20px;
        text-align: left;
        color: #000;

        div {
            margin-left: 20px;

            h3 {
                font-size: 16px;
                margin-bottom: 10px;
            }

            p {
                font-size: 14px;
                color: #696969;
                font-family: 'TIMSans-light';
            }
        }

        img {
            width: 50px;
        }
    }
}

.app {
    background-color: #0026D9;
    color: #ffffff;
    text-align: center;
    padding: 40px;

    span {
        display: block;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    a {
        display: inline-block;
        margin-bottom: 40px;
    }

    img {
        margin-bottom: 20px;
    }

    h3, p {
        font-family: 'TIMSans-light';
    }

    h3 {
        margin-bottom: 20px;
    }
}

.reacher {
    padding: 40px;

    img {
        width: 100%;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-family: 'TIMSans-light';
        font-size: 14px;
        display: block;
        margin-bottom: 20px;
    }

    div {
        h2 {
            font-size: 20px;
            margin-bottom: 20px;
        }

        a {
            text-decoration: underline;
            color: blue;
            font-size: 14px;
        }
    }
}

.oferta {
    background-color: #002198;
    padding: 40px;
    text-align: center;
    color: #ffffff;

    img {
        width: 100%;
        margin-bottom: 20px;
    }

    span {
        font-size: 12px;
        display: block;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 30px;
        font-size: 14px;
        font-family: 'TIMSans-light';
    }

    a {
        display: inline-block;
    }
}

.faq {
    background: #0026D9;
    padding: 40px;
    color: #fff;

    a {
        color: #fff;
        display: flex;
        font-family: 'TIMSans-light';
    }

    div {
        margin-bottom: 30px;
        border-bottom: 1px solid #4D67E4;
        padding-bottom: 30px;

        .links {
            margin: 40px 0 0 0;
            a {
                margin-bottom: 30px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        &:last-of-type {
            border: none;
        }
    }

    strong {
        display: flex;
        justify-content: space-between;
    }

    p {
        margin-bottom: 20px;
    }
}

footer {
    img {
        width: 100%;
    }
}

.swiper {
    width: 100%;
  height: auto;
  padding: 0 16px;
  box-sizing: border-box;
  overflow: visible !important;
}

.swiper-slide {
    width: 80% !important;
    background-color: #ddd;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    // margin-right: 16px !important;
    height: 100%;
    min-height: 490px;
}

.swiper-slide-next,
.swiper-slide-prev {
    margin: auto;
    min-height: 100%;
    height: 460px !important;
}

.swiper-controls {
    position: relative;
    width: 100%;
    height: 60px;
}

.ofertas {
    img {
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    h2 {
        text-align: center;
        font-size: 16px;
        color: #fff;
        margin-top: 10px;
        font-family: 'TIMSans-bold';
    }

    p {
        text-align: center;
        font-size: 14px;
        color: #fff;
        margin-top: 10px;
        font-family: 'TIMSans-light';
        margin-bottom: 10px;
    }

    .links-container {
        display: flex;
        margin: 20px 0;
        justify-content: space-between;

        .btn {
            padding: 15px 0;
            border: 1px solid #fff;
            border-radius: 12px;
            width: 46%;
            text-align: center;
            font-size: 13px;
        }
    }
}

.tim-black {
    background-image: url('../img/tim-black-bg.png');
    background-position: top;
}

.ultra-fibra {
    background-image: url('../img/ultrafibra-bg.png');
    background-position: top;

    h2 {
        margin-top: 30px;
    }

    .kv-img {
        margin: 50px 0;
    }
}

.pre {
    background-color: #002198;

    h2 {
        margin-top: 30px;
    }

    .kv-img {
        margin-bottom: -60px;
    }
}

.controle {
    background-image: url('../img/ultrafibra-bg.png');
    background-position: top;

    h2 {
        margin-top: 30px;
    }

    .kv-img {
        margin: 20px 0;
    }
}


.swiper-pagination {
    position: absolute !important;
    bottom: 21px !important;
    z-index: 1!important;
}

.swiper-button-next:after {
    position: absolute;
    right: 50px;
    font-size: 20px !important;
    z-index: 99!important;
}

.swiper-button-prev:after {
    position: absolute;
    left: 50px;
    font-size: 20px !important;
    z-index: 99!important;
}